@font-face {
  font-family: 'gabby'; /* Give your font a name */
  src: url('gabriel-weiss-friends-font/GABRWFFR.TTF') format('truetype'); /* Specify the path to your font file */
  /* You can also include additional font formats for better browser compatibility */
}
@import url('https://fonts.cdnfonts.com/css/matura-mt-script-capitals');

@font-face {
  font-family: 'anona'; /* Give your font a name */
  src: url('anona/anona.otf') format('truetype'); /* Specify the path to your font file */
  /* You can also include additional font formats for better browser compatibility */
}

h1 {
  font-family: gabby;
  font-size: 3rem;
}

h2{
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  height: 100vh;
  background-color: #001120;
}

.a_header {
  text-align: right;
}

a {
  text-decoration: none;
  margin: auto;
  padding-left: 5%;
  text-align: right;
  color: #fff;
}

.main-heading {
  font-size: 3rem;
}

.head-title {
  background-color: #001120;
  color: #fff;
  text-align: center;
  padding: 20px;
  margin-top: 50px;

}

.head-title h1 {
  margin: 0;
}

.main-box {
  width: 100%;
  margin-left: 7rem;
  margin-right: 7rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px;
}

.box {
  flex: 0 0 calc(25% - 60px); /* Adjusted flex property */
  margin: 10px;
  min-width: 100px;
  background-color: #01101d;
  color: #fff;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  box-sizing: border-box;
  margin-bottom: 3rem;
  box-shadow: 0 0 0 0.5px #fff; /* Adds a small white line around the box */
  transition: 0.4s;
}

.box:hover {
  background-color: #ffd000; 
  color: #000;
  transform: scale(1.1);
  border: 1px solid black;
  transition: 0.4s;
}

.box:hover a{
  color: #000;
}

.box h2{
  text-align: center;
  font-family: "anona", serif;
  font-weight: 400;
  font-size: xx-large;
  font-style: normal;
}

.twitter-icon {
  color:  #333;
}

.linkedin-icon {
  color: #333;
}

.github-icon {
  color: #333;
}

.box img {
  width: 100%;
  max-height: 275px;
  height: 90%;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

@media (max-width: 1200px) {
  .box {
    flex: 0 0 calc(33.33% - 20px);
  }
}

@media (max-width: 768px) {
  .box {
    flex: 0 0 calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .box {
    flex: 0 0 calc(100% - 20px);
  }
}
