@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



.aboutPageBackground {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0b1120;
    height: 95vh;
    width: 100vw;
}

.aboutPage {
    padding: 1rem;
    height: 90%;
    min-width:50rem;
    /* background-color:#0c2239; */
    /* border: 2px solid yellow; */
    overflow: auto;
}

.profileEdit{
    position: absolute;
    right:0;
    top:0;
}

.profile {

    position: relative;
    font-family: poppins;
    /* color: #0ea5e9; */
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 20%;
    width: 100%;
    /* background-color: yellow; */
    background-color: #0c2239;
    border-radius: 23px;
}

.profileImage {
    width: 33%;
    height: 100%;
    height: 144px;
    width: 144px;
    border-radius: 100%;
    /* background-color: #0ea5e9; */
    background-color: white;
}

.profileName {
    /* border:1px solid red; */
    width: 33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.profileContact {
    width: 33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.questionArea {
    font-family: poppins;
    box-sizing: border-box;
    /* overflow: auto; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    min-height: 60%;
    background-color:#0c2239;
    border-radius: 23px;
    padding:1.5rem;
}

.queAns {
    /* color:#0ea5e9; */
    border:1px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 1rem;
    border-radius: 23px;
    gap:1rem;
    background-color: rgb(11, 17, 32);
    /* padding-bottom:2rem; */
    width: 90%;
    height: 20%;
    margin:1rem;
}

.queAns textarea{
    color:white;
    border:1px solid white;
    /* border:1px solid #0ea5e9; */
    width:100%;
    border-radius:10px;
    background-color: #0c2239;
    height: 7.5rem;
}

.que {
    font-weight: bolder;
   /* color:#0ea5e9; */
   color: white;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    height: 40%;
    width: 90%;
    /* background-color: burlywood; */
    /* border: 1px solid pink; */
}


.extraQueArea{
    /* background-color: go; */
    padding:1rem;
    gap: 1rem;
    font-family: poppins;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    min-height: 30%;
    background-color:#0c2239;
    border-radius: 23px;
}

.extraQueAns{
    background-color: rgb(11, 17, 32);
    padding-left:2rem;
    text-align: center;
    border-radius: 10px;
    color:white;
    display:flex;
    align-items: center;
    justify-content: space-between;
    height:33%;
    width:90%;
    /* border:1px solid red; */
}

.extraQueAns textarea{
    color:white;
    /* border:1px solid #0ea5e9; */
    border:1px solid white;
    width:80%;
    border-radius:10px;
    background-color: #0c2239;
    height:100%;
}
.extraQueAns span{
    font-weight: bolder;
    /* color:#0ea5e9; */
    color: white;
}

.imageArea{
    /* color: yellow; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
    width: 100%;
    /* background-color: #0c2239; */
    /* border:2px solid green; */
    /* border-radius: 23px; */
   margin-top:1rem;
}

.imageArea div{
    /* color:yellow; */

    display: flex;
    align-items: center;
    border-radius:10px;
    margin-right:1rem;
    justify-content: space-evenly;
    height:100%;
    width:30%;
    background-color: #0c2239 ;
}

.imageArea div img{
    /* color:yellow; */

    width:10rem;
}