@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.profilePage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:95vh;
    /* background-color: #0b1120; */
}


.profilePageHead{
    font-family:Poppins;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* color:white; */
    justify-content: center;
    width:70%;
    height:20%;
    /* border:2px solid yellow; */
}

.profilePageHead h1{
    font-weight: bolder;
    font-size: 3rem;
}

.profilePageBody{
    width:70%;
    min-height:60%;
    /* border: 2px solid #0c2239; */
    display: flex;
   
}

.photoArea{
    /* border:2px solid red; */
    width:30%;
    display: flex;
    flex-direction: column;
    gap:1rem;
    align-items: center;
    justify-content: center;
    
}


.userPhoto{
    position: relative;
    background-color: cyan;
    height:40%;
    width:80%;
}
.userPhoto button{
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 1rem;
    right:1rem;
    height: 1rem;
    padding: 1rem;
    width:1rem;
    border-radius:100%;
    background-color: black;
    color:white;
}

.userPhoto img{
    height: 100%;
    width: 100%;
}
.detailsArea{
    /* border:2px solid blue; */
    width:70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.detailSection1{
    /* border-bottom:1px solid #0c2239; */
    width: 100%;
    /* border:2px solid chartreuse; */
    min-height:20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
}
.detailSection5{
    /* border:2px solid chartreuse; */
    width: 100%;
    min-height:20%;
    display: flex;
    gap:10px;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
}
.detailSection2{
    /* border-bottom:1px solid #0c2239; */
    /* border:2px solid chartreuse; */
    width: 100%;
    min-height:30%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    justify-content: center;
    justify-items:left;
    
}

.detailSection6{
    /* border:2px solid chartreuse; */
    width: 100%;
    min-height:10%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    justify-items:center;
}
.detailSection3{
    /* border-bottom:1px solid #0c2239; */
    
    /* border:2px solid chartreuse; */
    width: 100%;
    min-height:10%;
    display:flex;
    align-items: center;
    justify-content:space-between;
}

.detailSection3 label{
    display: flex;;
    flex-direction: column;
}


.detailSection4{
    width: 100%;
    min-height:10%;
    display: flex;
   
    align-items: center;
    justify-content:center;
}



